.header {
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.header > h3, h5 {
    margin: 0;
    padding-top: 20px;
    text-align: center;
}

/* Include any custom CSS styling here! */
/* tooltip */
.tooltip {
    background:white;
    box-shadow: 0 0 5px #999999;
    color: #4B0AFA;
    display: none;
    font-size: 10px;
    left: 130px;
    padding: 10px;
    position: absolute;
    text-align: center;
    top: 95px;
    width: 80px;
    z-index: 10;
  }

body{
}

select{
    position: absolute;
    right: 60px;
    top: 80px;
}

p {
    margin: 35px;

}
  